body {
  text-align: center;
}
h1 {
  color: #9EB9D4;
  margin-top: 50px;
}
p {
  color: #9EB9D4;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height:600px;
  width:500px;
  align: center;
}
.hero {
  display: block;
  margin: 0 auto;
}
.links a{
  margin-right: 10px;
}
